@charset "utf-8";
/*ここから*/

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  color: #444;
}

a{
  color: #444;
  text-decoration: none;
}

.slider-wrapper {
  position: relative;
}

.slider-text {
  position: absolute;
  bottom: 4%;
  left: 50%;
  z-index: 20;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, .5);
  font-size: 26px;
  padding: 20px 25px;
}

.swiper-slide {
  height: 600px;
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
  position: relative;
}

.swiper-slide p{
  position: absolute;
  background-color:violet;
  padding: 20px 25px;
  font-size: 20px;
  color: #fff;
}

.swiper-slide.slide1{
background-image: url(../img/pexels-andrea-piacquadio-3760069.jpg)
}

.swiper-slide.slide1 p {
  top: 40%;
  right: 20%;
}

.swiper-slide.slide2{
background-image: url(../img/pexels-chris-f-6664375.jpg)
}

.swiper-slide.slide3{
background-image: url(../img/pexels-pok-rie-5721396.jpg)
}

.swiper-slide.slide4{
background-image: url(../img/pexels-frans-van-heerden-624015.jpg)
}

.swiper-slide.slide5{
background-image: url(../img/pexels-karolina-grabowska-4041230.jpg)
}
