@charset "utf-8";
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
margin:0;
padding:0;
border:0;
outline:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
}

body {
line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
display:block;
}

nav ul {
list-style:none;
}

blockquote, q {
quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
content:'';
content:none;
}

a {
margin:0;
padding:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
}

/* change colours to suit your needs */
ins {
background-color:#ff9;
color:#000;
text-decoration:none;
}

/* change colours to suit your needs */
mark {
background-color:#ff9;
color:#000;
font-style:italic;
font-weight:bold;
}

del {
text-decoration: line-through;
}

abbr[title], dfn[title] {
border-bottom:1px dotted;
cursor:help;
}

table {
border-collapse:collapse;
border-spacing:0;
}

/* change border colour to suit your needs */
hr {
display:block;
height:1px;
border:0;
border-top:1px solid #cccccc;
margin:1em 0;
padding:0;
}

input, select {
vertical-align:middle;
}

/*ここから*/




body {
  font-family: serif;
  background-color: #044;
  color: #fff;
}

*, *::before, *::after{

box-sizing: border-box;
}

header{
  padding: 50px;
}

@keyframes titleAnimation {
  0% {
    letter-spacing: .4em;
    opacity: 0;
  }
}

header h1 {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 60px;
  white-space: nowrap;
  animation: titleAnimation 1.5s;
}

.nav-list{
  display: flex;
  justify-content: flex-end;
  position: fixed;
  z-index: 1;
  list-style: none;
}

.nav-list li{
  font-size: 20px;
  padding: 0px 25px;
  letter-spacing: 4px;
}

.nav-list li:hover{
  text-decoration: underline;
  opacity: 0.6;
}

.nav-list a {
color:rosybrown;
}

.main-logo{
  font-size: 50px;
  text-align: center;
  letter-spacing: 10px;
  font-weight: 100;
  padding: 100px 0 60px 0;
}

.work-contents{
  text-align: center;
}


.work-wrapper p{
  text-align: center;
  font-size: 20px;
}

.work-contents img{
  position: relative;
  max-width: 200px;
  width: 40%;
  height: 40%;
  margin: 2% 2%;
  border: solid 1px #000;
}


.work-contents img:hover{
opacity: 0.5;

}

main {
  max-width: 1000px;
  width: 100%;
  margin: 200px
  auto;
}

.contents li {
position: relative;
/*opacity: 0;
transform: translateY(50px);
transition: 4s;*/
list-style: none;
}

/*.contents li.show{
  opacity: 1;
  transform: none;
}*/

.contents li.show h2,
.contents li.show p,
main .contents li.show img {
  transform: none;
  opacity: 1;
}


.contents li:not(:first-of-type) {
  margin-top: 50px;
}

.contents li:nth-of-type(odd) .contentsText {
  right: 0;
}

.contents li:nth-of-type(even) .contentsText {
  align-items: flex-start;
}

.contents li:nth-of-type(odd) img{
  transform: translate(-20px,20px);
}

.contents li:nth-of-type(even) img{
  margin-left: auto;
  transform: translate(20px,20px);
}

.contentsText {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  top: 40px;
}

.contents h2 {
font-size: 50px;
font-weight: bold;
white-space: nowrap;
background-color: rgba(20, 20, 20, .8);
padding: 10px 20px;
line-height: 1.4;
letter-spacing: .05em;
border-radius: 5px;
opacity: 0;
transform: translateY(20px);
transition: 1;
}

.contents p {
  line-height: 1.6;
  background-color: #555;
  font-size: 14px;
  max-width: 340px;
  padding: 15px;
  margin-top: 30px;
  border-radius: 5px;
  opacity: 1;
  transform: translateX(20px);
  transition: 1s;
}

.contents img {
  width: 65%;
  display: block;
  opacity: 0;
  border-radius: 5px;
  transform: translateX(-20px);
  transition: 1s .5s;
}

.contactwrapper {
  padding: 160px 0 0 0;
}




/*レスポンシブデザインここから*/

@media screen and (max-width: 768px) {
  h1 {
    color: skyblue;
  }
  .nav-list{
  display: flex;
  justify-content: flex-end;
  position: fixed;
  z-index: 1;
  list-style: none;
}

.nav-list li{
  font-size: 10px;
  padding: 10px 10px;
  letter-spacing:4px;
}

.nav-list li:hover{
  text-decoration: underline;
  opacity: 0.6;
}

.nav-list a {
color:rosybrown;
}

contentsText {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  top: 40px;
}

.contentsText {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  top: 40px;
}

.contents h2 {
font-size: 20px;
font-weight: bold;
white-space: nowrap;
background-color: rgba(20, 20, 20, .8);
padding: 10px 20px;
line-height: 1.4;
letter-spacing: .04em;
border-radius: 50%;
opacity: 0;
transform: translateY(20px);
transition: 1;
}

.contents p {
  line-height: 1.6;
  background-color: #555;
  font-size: 6px;
  max-width: 340px;
  padding: 15px;
  margin-top: 30px;
  border-radius: 40%;
  opacity: 1;
  transform: translateX(20px);
  transition: 1s;
}

.contents img {
  width: 40%;
  display: block;
  opacity: 0;
  border-radius: 40%;
  transform: translateX(-20px);
  transition: 1s .5s;
}

.animationTarget {
padding: 40px;
}

}
